.background{
    background-image: url('../img/background.jpg');
    background-position: center;

}

.interface{
    background: white;
    padding: 15px;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    align-content: center;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.gameRow{
    display: flex;
}

.gameColumn {
    flex: 50%;
}

#HitBtn{
    background-color: lightseagreen;
    font-weight: bold;
}

#StandBtn{
    background-color: lightcoral;
    font-weight: bold;
}

#NewHandBtn{
    background-color: lightseagreen;
    font-weight: bold;
}

#ResetBtn{
    background-color: lightcoral;
    font-weight: bold;
}

#DoubleBtn{
    background-color: lightblue;
    font-weight: bold;
}